# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env
.venv/
env/
ENV/

# Django stuff:
db.sqlite3
*.sqlite3
*.log

# If using MySQL / PostgreSQL / other databases
*.db
*.pid

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Static and media files
!**/static/
static/*
!**/static/44edbc66-c9a2-4ba3-80cc-f9cd91dcb804.jpg
!**/static/ece98517-18ee-4c56-8492-de285f98205a.jpg

media/
*.bak
*.swp

# IDE / Editor files
.vscode/
.idea/
*.iml

# Pytest / Coverage / Testing
.coverage
htmlcov/
*.cover
*.py,cover
.tox/
nosetests.xml
coverage.xml
*.mo
pytest_cache/

# Docker / Deployment
docker-compose.override.yml
